@mixin font-size ($color,$size){
  color:$color;
  font-size:$size;
}

.chat-main{
  width: calc(100vw - 300px);
  display:flex;
  flex-direction: column;

  &__group-info{
    background-color:white;
    color: black;
    height:100px;
    display:flex;
    justify-content: space-between;
    padding:0px 40px;

      .name-lists{
      margin:35px 0px 15px 0px;

        .group-name{
          @include font-size(#333333,20px)
        }
        .members-name{
          @include font-size(#999999,12px);
          margin-top:15px;
        }
      }  

      a{
        text-decoration:none;  
      }  

      .edit-btn{
        @include font-size(#38aef0,16px);
        display: flex;
        justify-content:center;
        align-items: center;
        width:72px;
        height:40px;
        margin:28px 0px;
        border:1px solid;       
      }
    }
  }
  .chat-main__messages{
    padding:35px 0px 0px 40px;
    background-color:#fafafa;
    height:calc(100vh - 190px);

    .message-list{
      margin-bottom: 46px;

      .post-info{
        display: flex;

        .posted-user-name{
          @include font-size(#333333,16px);
          align-items: center;
          font-weight: bold;
          margin-right: 10px;
          margin-bottom: 12px;
        }

        .posted-date-time{
          @include font-size(#999999,12px)
        } 
      }

      .posted-message{
        @include font-size(#433a54,14px)
      }  
    }
  }  
  .chat-main__message-form{
    background-color:#DDDDDD;
    height:90px;  
    padding:0px 50px 0px 40px;
    display:flex;      
    align-items:center;
    justify-content:space-between;
    position: relative;

    .form{
      display:flex;
      align-items: center;
      justify-content: space-between;
      margin:0 auto;
      background-color: white;
      width:100%;
      
      .message-input{
        margin:10px;
        border:none;
        width:100%;
        padding:0px 15px 0px 15px;
      }

      .image-input{
        padding:10px;
      }  

      .temp{
        display:none;
      }  
    }
    .submit{
      margin-left:15px;

      .submit-btn{
        background-color:#38aef0;
        color:white;
        padding:10px 30px;
        border:none;
        width:110px;
      }  
    }
  }

 